    <div id="nav">
        <div id="nav_items">  
            <i id="main_icon" class="material-icons" routerLink="/" >photo_camera</i>
            <!-- <div id="starGram">StarGram</div> -->
            <i id="first_item" class="material-icons" routerLink="/explore">map</i>
            <i class="material-icons" >favorite_border</i>
            <i class="material-icons" routerLink="/mypage">perm_identity</i>
            <i id="addpost" class="material-icons" routerLink="/addpost">add</i>
            <i id="addpost" class="material-icons" routerLink="/subscribe">fiber_new</i>
            <div class="btn-group" mdbDropdown>
                    <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
                        Basic dropdown
                    </button>
                
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
        </div>
    </div>
