
<div id="page">

<mat-card class="post">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>TurkishP</mat-card-title>
    <mat-card-subtitle>Venice, Italy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.telegraph.co.uk/content/dam/Travel/2017/July/Venice-II-travel-Getty.jpg?imwidth=1400">
  <mat-card-actions>
    <i id="favorite" class="material-icons">favorite_border</i>
    <i id="chat_bubble" class="material-icons">chat_bubble_outline</i>
    <i id="bookmark" class="material-icons">bookmark_border</i>
  </mat-card-actions>
  <mat-card-content>
    <p>
        터키왕자#gauditur #베니스크루즈 #보트🌳 #VeniceIsAwesome⛪️ #베니스에서살고싶어🌴 #monjuic #casamilan #casabatlló #gracia 
    </p>
  </mat-card-content>

</mat-card>

<mat-card class="post">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>TurkishP</mat-card-title>
    <mat-card-subtitle>Venice, Italy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.telegraph.co.uk/content/dam/Travel/2017/July/Venice-II-travel-Getty.jpg?imwidth=1400">
  <mat-card-actions>
    <i id="favorite" class="material-icons">favorite_border</i>
    <i id="chat_bubble" class="material-icons">chat_bubble_outline</i>
    <i id="bookmark" class="material-icons">bookmark_border</i>

  </mat-card-actions>
  <mat-card-content>
    <p>
        터키왕자#gauditur #베니스크루즈 #보트🌳 #VeniceIsAwesome⛪️ #베니스에서살고싶어🌴 #monjuic #casamilan #casabatlló #gracia 
    </p>
  </mat-card-content>

</mat-card>

<mat-card class="post">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>TurkishP</mat-card-title>
    <mat-card-subtitle>Venice, Italy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.telegraph.co.uk/content/dam/Travel/2017/July/Venice-II-travel-Getty.jpg?imwidth=1400">
  <mat-card-actions>
    <i id="favorite" class="material-icons">favorite_border</i>
    <i id="chat_bubble" class="material-icons">chat_bubble_outline</i>
    <i id="bookmark" class="material-icons">bookmark_border</i>
  </mat-card-actions>
  <mat-card-content>
    <p>
        터키왕자#gauditur #베니스크루즈 #보트🌳 #VeniceIsAwesome⛪️ #베니스에서살고싶어🌴 #monjuic #casamilan #casabatlló #gracia 
    </p>
  </mat-card-content>

</mat-card>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>-moz-box-flex example</title>
    <style>
      div.example {
        display: -moz-box;
        display: -webkit-box;
        border: 1px solid black;
        width: 100%;                
      }
      div.example > p:nth-child(1) {
        -moz-box-flex: 1;       /* Mozilla */
        -webkit-box-flex: 1;    /* WebKit */
        border: 1px solid black;
      }
      div.example > p:nth-child(2) {
        -moz-box-flex: 0;       /* Mozilla */
        -webkit-box-flex: 0;    /* WebKit */
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="example">
      <p>I will expand to fill extra space</p>
      <p>I will not expand</p>
    </div>
  </body>
</html> -->

</div>