<div id="wrapper">
  
  <div id="profImg_container">
      <img id="profImg" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/39014956_10156725026074703_4644265484261261312_n.jpg?_nc_cat=100&oh=dacb067baa2813f4357e82185f9e31bd&oe=5C4D93C6" width="50px"/>
  </div>
  <div id="user_id">helovesus.TurkishPrince <button mat-button id="prof_edit">프로필 편집</button>

    <div class="nested">
      <div class="info info1">게시물 37</div>
      <div class="info info2">팔로워 184</div>
      <div class="info info3">팔로우 222</div>
      <div class="info info4"><b>Joseph Kim</b></div>
      
      <div id="intro" class="info info5"> A student of computer science who loves music, movies, snow boarding, volleyball, and tennis</div>
    </div>
</div>

</div>

<!-- <div id="contents">
  
  <div id="profImg_container">
      <img id="profImg" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/39014956_10156725026074703_4644265484261261312_n.jpg?_nc_cat=100&oh=dacb067baa2813f4357e82185f9e31bd&oe=5C4D93C6" width="50px"/>
  </div>

  <div id="user_info_container">

    <div class="block" id="user_id">helovesus.TurkishPrince <button mat-button id="prof_edit">프로필 편집</button></div>
    
    <div class="block" id="user_info">
      <div >게시물 37</div>
      <div class="info">팔로워 184</div>
      <div class="info">팔로우 222</div>
    </div>
    <div class="block" id="intro">Joseph Kim
        A student of computer science who loves music, movies, snow boarding, volleyball, and tennis</div>
  </div>

</div> -->