


<div id="wrapper">
  <!-- <mat-card class="post">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TurkishP</mat-card-title>
      <mat-card-subtitle>Venice, Italy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.telegraph.co.uk/content/dam/Travel/2017/July/Venice-II-travel-Getty.jpg?imwidth=1400">
    <mat-card-actions>
      <i id="favorite" class="material-icons">favorite_border</i>
      <i id="chat_bubble" class="material-icons">chat_bubble_outline</i>
      <i id="bookmark" class="material-icons">bookmark_border</i>
    </mat-card-actions>
    <mat-card-content>
      <p>
          터키왕자#gauditur #베니스크루즈 #보트🌳 #VeniceIsAwesome⛪️ #베니스에서살고싶어🌴 #monjuic #casamilan #casabatlló #gracia 
      </p>
    </mat-card-content>
  
  </mat-card> -->



  
  <mat-card class="post">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TurkishP</mat-card-title>
      <mat-card-subtitle><mat-form-field>
        <input matInput placeholder="Location">
      </mat-form-field></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.telegraph.co.uk/content/dam/Travel/2017/July/Venice-II-travel-Getty.jpg?imwidth=1400">
    <mat-card-actions>
      <i id="favorite" class="material-icons">favorite_border</i>
      <i id="chat_bubble" class="material-icons">chat_bubble_outline</i>
      <i id="bookmark" class="material-icons">bookmark_border</i>
    </mat-card-actions>
    <mat-card-content>
      <p>
          터키왕자 
          <mat-form-field>
            <input matInput placeholder="Contents">
          </mat-form-field>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-form-field class="share">
    <input matInput placeholder="Share With ...">
  </mat-form-field>

  <!-- <mat-form-field>
    <input matInput placeholder="Description">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Location"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->


  
</div>