<div id="wrapper">
        <h1>Welcome to StarGram :)</h1>

        <mat-form-field>
          <input matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name">
        </mat-form-field>
         <mat-form-field>
              <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password">
       </mat-form-field>
       <mat-form-field>
          <input type="password" matInput placeholder="Password Check">
     </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Who are you?"></textarea>
        </mat-form-field>
      
        <!-- <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

</div>