<div id="wrapper">
  
  <div id="profImg_container">
      <img id="profImg" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/39014956_10156725026074703_4644265484261261312_n.jpg?_nc_cat=100&oh=dacb067baa2813f4357e82185f9e31bd&oe=5C4D93C6" width="50px"/>
  </div>
  <div id="user_id">helovesus.TurkishPrince 
    <button mat-button id="prof_edit">프로필 편집</button>
    <i class="material-icons" id="edit_icon" >edit</i>

    <div class="nested">
      <div class="info info1">게시물  <b>37</b></div>
      <div class="info info2">팔로워  <b>184</b></div>
      <div class="info info3">팔로우  <b>222</b></div>
      <div class="info info4"><b>Joseph Kim</b></div>
      
      <div id="intro" class="info info5"> A student of computer science who loves music, movies, snow boarding, volleyball, and tennis</div>
    </div>
</div>

<mat-tab-group class="tab_group" layout="row" layout-align="center center">



    <mat-tab MatTabBodyPositionState="center" class="first_tab" label="POSTS">
      <!-- Subscrib to categories of locations -->
    </mat-tab>

    <mat-tab label="SAVED">
    </mat-tab>  
  
    <mat-tab label="TAGGED">
        <!-- Subscrib to categories of locations -->
    </mat-tab>




</mat-tab-group>

</div>